{% block content %}

<div class="container">
    <h1>로그인</h1>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Username:
        <br>
        <input name="username"type="text"id="username">
        <br>
        Password:
        <br>
        <input name="password"type="password"id="password">
        <br><br>
        <button type="submit"class="btn btn-primary">로그인</button>
        <br><br> 
        <a href="{% url 'users:signup' %}">회원가입</a>
    </form>
</div>

{% endblock %}