{% extends "base.html" %}

{% block pate_title %}회원가입{% endblock pate_title %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="container">
            <div class="w-25 mx-auto" style='padding: 1em'>
                {% for field in form %} 
                    {{field.label}} 
                    {{field}} 
                {% endfor %}
            </div>
            <div class="w-25 mx-auto text-center">
                <button class="mt-2 btn-primary btn-lg">회원가입</button>
            </div>
        </div>
    </form>
{% endblock content %}