<div class="container">
    <div class="my_custom_menu">
        <ul>
            {% if item_count > 0 %}
            <li>
                <a href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i>({{ item_count }})</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated and request.user.first_name %}
                <li>
                    Welcome, {{ request.user.first_name }} <i class="fas fa-user-circle"></i>
                </li>
                <li>
                    <a href="{% url 'signout' %}">Sign out <i class="fas fa-sign-out-alt"></i></a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up <i class="fas fa-user-plus"></i></a>
                </li>
                <li>
                    <a href="{% url 'signin' %}">Sign In <i class="fas fa-sign-in-alt"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>