{% extends 'restaurant/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top:20px;">
            <h3>{{ item.name }}</h3>
            <p>{{ item.address }}</p>
            <p>
                <a href="#">
                    <button class="btn btn-danger">삭제하기</button>
                </a>
            </p>
            {% if val == True %}
            <p>
                
                <a href="{% url 'restaurant:review-create' restaurant_id=item.id %}">
                    <button class="btn btn-info">리뷰쓰기</button>
                </a>
            </p>
            {% endif %}
            <hr>
            {% for menu in menus %}
                <div class="card bg-light mb-3">
                    <div class="card-header"><b>{{ menu.name }} : {{ menu.price }}</b>원
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ menu.component }}</p>
                        <p class="card-text">{{ menu.ingredient }}</p>
                    </div>
                </div>
            {% endfor %}
            <hr>
            {% for review in reviews %}
                <div class="card bg-light mb-3">
                    <div class="card-header"><b>{{ review.reviewer }} : {{ review.point }}</b>점
                        <a href="{% url 'restaurant:review-delete' restaurant_id=item.id review_id=review.id %}">
                            <button type="button" class="close" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ review.comment }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}