{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
    Sign Up to get a new account with us.
{% endblock %}
{% block title %}
    Create a New Account - Perfect Cushion Store
{% endblock %}
{% block content%}
    <div>
        {% if not form.is_valid %}
            <div class="mx-auto">
                <br>
                <h1 class="my_title text-center">
                    Create a New Account
                </h1>
                <br>
                <div class="col-9 col-lg-5 col-md-6 col-sm-9 mx-auto bg-light">
                    <br>
                    <p>
                        Enter the following info to create a new account.
                    </p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p>{{ form | crispy }}</p>
                        <button type="submit" class="btn btn-secondary">Register Account</button>
                    </form>
                    <br>
                </div>
            </div>
        {% else %}
            <div class="mx-auto">
                <br>
                <h1 class="my_title text-center">
                    Your account bas been successfully created.
                </h1>
                <br>
                <div>
                    <p>
                        Dear customer,
                        <br>
                        <br>
                        Your account has been created and it's ready to use.
                        <br>
                        <a href="{% url 'shop:all_products' %}">Countinue Shopping</a> and enjoy the variety of cushions that we have at the perfect cushion store.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
    <br>
{% endblock %}